//npm.pkg.github.com/:_authToken=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
@ferch01992:registry=https://npm.pkg.github.com
Username: ferlc
Password: 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
Email: fer.lc.developer@gmail.com